:root {
    --amber-color-archief: #FFBE0B;
    --orange-color-planjebezoek: #FB5607;
    --rose-color-programma: #FF006E;
    --blueviolet-color-kunstenaar: #8338EC;
    --azzure-color-nieuws: #3A86FF;
    --lightgreen-color-over: #85FF9E;
    --background-color: #fafafa;
    --h1-fontSize: 21.53rem;
    --h2-fontSize: 13.307rem;
    --h3-fontSize: 8.224rem;
    --h4-fontSize: 5.083rem;
    --h5-fontSize: 3.142rem;
    --h6-fontSize: 1.942rem;
    --p-fontSize: 1.2rem;
    --boldWeight: 800;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    background-color: var(--background-color);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #fff;
    background-color: #000000;
}

/* nav */
.nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100svw;
    top: 0;
    margin: 0;
    z-index: 1000;
    background-color: var(--background-color);
}

.header-logo {
    position: absolute;
    width: 100svw;
    margin: 0;
    padding: 1.25rem 2rem;
    background-color: var(--background-color);
    z-index: -5;
}

.nav-item-logo {
    margin: 2.4rem 0 0 3.5rem;
    padding: 0;
}

.nav-item {
    margin: 2.4rem 2rem 0 2rem;
    padding: 0;
}

.nav-logo {
    font-size: var(--h6-fontSize);
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in 0.5s;
}

.nav-text {
    font-size: var(--h6-fontSize);
    font-weight: bolder;
    color: #d3d3d3;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
    transition: ease-in 0.5s;
}

.nav-text:last-child {
    padding-right: 0;
}

.nav-text:hover:nth-child(1) {
    color: var(--rose-color-programma);
    transition: ease-in 0.5s;
}

.nav-text:hover:nth-child(2) {
    color: var(--amber-color-archief);
    transition: ease-in 0.5s;
}

.nav-text:hover:nth-child(3) {
    color: var(--orange-color-planjebezoek);
    transition: ease-in 0.5s;
}

.nav-text:hover:nth-child(4) {
    color: var(--blueviolet-color-kunstenaar);
    transition: ease-in 0.5s;
}

.nav-text:hover:nth-child(5) {
    color: var(--azzure-color-nieuws);
    transition: ease-in 0.5s;
}

.nav-text:hover:nth-child(6) {
    color: var(--lightgreen-color-over);
    transition: ease-in 0.5s;
}

/* Year */
.archief-year-container {
    margin: 10rem 1rem 2.5rem 1rem;
    width: calc(100svw - 2rem);
}

.year {
    font-size: var(--h4-fontSize);
    margin: 0;
    padding: 0;
}

/* archief */
.nieuws-container {
    display: grid;
    gap: 5rem 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 20rem 1rem 5rem 1rem;
}

.grid-archief-item {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #d3d3d3;
    color: #d3d3d3;
    filter: grayscale(100);
    transition: ease-in-out 0.2s;
}

.grid-archief-item:hover {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--azzure-color-nieuws);
    color: var(--azzure-color-nieuws);
    filter: grayscale(0);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.grid-archief-item img {
    width: 100%;
}

.archief-date {
    font-size: var(--h6-fontSize);
    font-weight: var(--boldWeight);
    margin: 0.5rem 0;
}


.archief-caption {
    font-size: var(--h6-fontSize);
    margin: 0.5rem 0;
}

/* footer */
.footer-container {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
    width: 100svw;
    border-top: 2px solid var(--azzure-color-nieuws);
}

.footer-item {
    margin: 0;
    padding: 2rem;
    border-right: 2px solid var(--azzure-color-nieuws);
}

.footer-item:last-child {
    margin: 1rem 0 1rem 1rem;
    padding: 1rem 0;
    border-right: none;
}

.footer-text {
    font-size: var(--h6-fontSize);
    font-weight: var(--boldWeight);
    color: #000000;
}

.footer-text a {
    color: #000000;
    text-decoration: none;
}

.footer-text a:hover {
    color: var(--azzure-color-nieuws);
}